
<% content_for :for_head do %>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Centre For Joint Diseases</title>
	<meta name="description" content="Centre For Joint Diseases">
	<meta name="keywords" content="Dr. Aman Dua, Dr. Dharmesh Khatri, Total Knee Replacement, Total Hip replacement, Revision Knee Surgery , Centre for Joint Diseases.">
    <meta name="author" content="Dr. Aman Dua">



	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

   <link rel="stylesheet" href="landing_page/stylesheets/landing_page.css" >



<% end %>

<body data-spy="scroll" data-target="#my-navbar">

 <!--Navbar -->
<nav class="navbar navbar-default navbar-fixed-top" id="my-navbar" >
	<div class="container">	
		<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>


		<a href="" class="navbar-brand">Home</a>
		</div><!--Navbar Header-->
		<div class="collapse navbar-collapse" id="navbar-collapse">

		<a href="#contact" class="btn btn-info navbar-btn navbar-right">Contact Us</a>
			<ul class="nav navbar-nav navbar-right">
			<li><a href="#about">About</a>
			<li><a href="#blog">Resources</a>
			<li><a href="#testimonials">Testimonials</a>
			<li><a href="/gallery_section">Gallery</a>
			</ul>
		</div>
</div><!--End Container-->
</nav><!--End navbar-->
    }

<!--Upper Section-->


	<div class="container tagline text-left">
		<div class="row" id="MainText">
		<h1>Centre for </h1>
		<h1> Joint </h1>
		 <h1> Diseases</h1>
		<h4 class="mt_font" >Specialists in Orthopaedics, Experts in Care</h4></div>
		 <!-- <div class="row text-center">
		<p>We are a group of Orthopaedic experts, with a mission to make patients' lives easier</p></div> -->
	</div> 
	<!--End Container-->
<!-- End Upper Section -->

<!--Image Section-->
<div class="container">
	<div class="col-md-12">
	<img src="/landing_page/slider_images/c5.jpg" class="img-responsive">
	</div>
</div>
<!-- End Image Section-->

<!--About-->
<div class="container" id="about">
	<section>
		<div class="page-header text-center">
		<h2>ABOUT</h2>
		</div>

		<div class="row profiles">

			<div class="col-md-6"><!--Used 2 column-->
			<div class="panel panel-default">
				<div class="panel-body">
				<div class="col-md-6 text-left">
				<h3>Dr. Aman Dua</h3>
				<h4><strong>Senior Consultant<br>Joint Replacement Unit</strong></h4>
				<h4 style="color: #643C05;font-weight: bolder;">Shri Balaji Action Medical Institute</h4>
				A-4, Paschim Vihar, New Delhi 110063<br>
				9 A.M. – 4 P.M.  (Monday – Saturday)<br>
				Tel.: 011-42888700<br>
				<h4><strong>MedHarbour Clinic</strong></h4>
				A1/14, Safdarjung Enclave, New Delhi<br>
				6 P.M. – 7:30 P.M. (Mon – Wed – Fri)<br>
				By Appointment Tel.:<br>
				<b>+91-9888859960</b></div>
				
				<div class="col-md-6">
					<img src="/landing_page/dr_images/Aman Dua Profile.png" class="img-responsive center-block">
					<div class="form-group">
						<div class="col-lg-12" style="margin-top:30px">
							<a  class="btn btn-primary" style="display: block; margin-left: auto; margin-right: auto;" href="/aman_dua">See Full Profile</a>
						</div>
					</div>
				</div>
				
				</div>
				</div>
			</div>



			<div class="col-md-6"><!--Used 2 column-->
			<div class="panel panel-default">
				<div class="panel-body">
				<div class="col-md-6 text-left">
				<h3>Dr. Dharmesh Khatri</h3>
				<h4><strong>Senior Consultant<br>Joint Replacement Unit</strong></h4>
				<h4 style="color: #643C05;font-weight: bolder;">Shri Balaji Action Medical Institute</h4>
				A-4, Paschim Vihar, New Delhi 110063<br>
				9 A.M. – 4 P.M.  (Monday – Saturday)<br>
				Tel.: 011-42888700<br>
				<h4><strong>Centre for Spine</strong></h4>
				C4E/286, Next to C4E Bus stop, Janakpuri, New Delhi
				7 P.M. - 8:30 P.M. (Monday To Friday)
				By Appointment: 9871750690, 011-25501135</div>
				
				<div class="col-md-6">
					<img src="/landing_page/dr_images/Dharmesh.png" class="img-responsive center-block">
					<div class="form-group">
						<div class="col-lg-12" style="margin-top:30px">
							<a  class="btn btn-primary" style="display: block; margin-left: auto; margin-right: auto;" href="/dharmesh_khatri">See Full Profile</a>
						</div>
					</div>
				</div>
				
				</div>
				</div>
			</div>

			
		</div><!--End row-->
	</section>
</div><!--End Container-->
<!--End About-->



<!--blog-->
<div class="jumbotron" id="blog">
	<div class="container">
		<section>
			<div class="page-header text-center">
		<h2>RESOURCES</h2>
			</div> <!--End Page Header-->

		<div class="row">
		<!--HIP-->
			<div class="col-sm-4">
				<div class="panel panel-default text-left">
					
					<div class="panel-body">
						<span class="glyphicon glyphicon-star-empty"></span>
						<h4><b>HIP REPLACEMENT </b>	</h4>
						<p><div class="row">
							<div class="col-sm-12 ">
								

									WHAT IS THE HIP JOINT?<br>

									The hip joint is a ball and socket joint which links the pelvis with the upper end of the thigh bone. The ball is on the upper end of the thigh bone and this fits into a socket which is on the outer part of the pelvis....<a href="hip_surgery" class="btn ">See More</a>
																	

							</div>
							</div>
						</p>
					</div>
				</div>
			</div><!--End HIP-->

		<!--KNEE-->
			<div class="col-sm-4">
				<div class="panel panel-default text-left">
					
					<div class="panel-body">
						<span class="glyphicon glyphicon-star-empty"></span>
						<h4> <b>KNEE REPLACEMENT</b></h4>
						<p><div class="row">
							<div class="col-sm-12 ">
								TOTAL JOINT REPLACEMENT is one of the most consistently successful therapeutic measures in all of medicine and surgery today. Overall patient satisfaction with the relief of pain and enhanced mobility is, in general, extremely high......<a href="knee_surgery" class="btn ">See More</a>
							</div>
							</div>
						</p>
					</div>
				</div>
			</div><!--End KNEE-->

		<!--SPINE-->
			<div class="col-sm-4">
				<div class="panel panel-default text-left">
					
					<div class="panel-body">
						<span class="glyphicon glyphicon-star-empty"></span>
						<h4><b>Revision Joint Replacement</b> </h4>
						<p><div class="row">
							<div class="col-sm-12 ">
								<b>Q: What is Revision Joint Replacement or Redo surgery of joints?</b><br>
								<b>A:</b> Revision or redo surgery of joints involve removing the earlier/older implants from the patient and replacing them with new implants.....<br>
								<a href="faq" class="btn ">See More</a>
							</div>
							</div>
						</p>
					</div>
				</div>
			</div>
			<!--SPINE-->
		</div><!-- end row-->


		</section>
	</div><!--End Container-->
</div>

<!--Testimonials-->
<div class="container" id="testimonials">
		<section>
			<div class="page-header text-center">
		<h2>Success Stories</h2>
			</div> <!--End Page Header-->

		<div class="row">
		<!--Patient1-->
            <div class="col-sm-6">
                <div class="panel panel-default text-center">
                   
                    <div class="panel-body">
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <h3>Mr. A D Chawla</h3>
                        <p><div class="row">
                            <div class="col-lg-12 intrinsic-container intrinsic-container-16x9">
                            <iframe src="https://www.youtube.com/embed/B0wSfGpqVkI?ecver=1" frameborder="0">
                            </iframe>
                            </div>
                            </div>
                        </p>
                    </div>
                </div>
            </div><!--End Patient1-->

		<!--Patient2-->
            <div class="col-sm-6">
                <div class="panel panel-default text-center">
                   
                    <div class="panel-body">
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <h3>Mrs. Reena Sahdev</h3>
                        <p><div class="row">
                            <div class="col-lg-12 intrinsic-container intrinsic-container-16x9">
                            <iframe src="https://www.youtube.com/embed/4f0tcMS3I0k?ecver=1" frameborder="0">
                            </iframe>
                            </div>
                            </div>
                        </p>
                    </div>
                </div>
            </div><!--End Patient2-->
		</div><!-- end row-->


		</section>
	</div><!--End Container-->
<!--End Testimonials-->
<!-- <!--  --> -->



<!--Contact-->

<hr>

<div class="container">
	<section>
	<div class="row">
		<div class="col-lg-4">
			<div class="page-header" id="contact">
				<div class="row">
					<div class="col-md-12">
						<h1 style="font-size:45px; font-weight: bolder; color: #58595b;">Have a question?</h1></div>
				<div class="col-md-4"></div>
				<div class="col-md-8">
					<h1 style="color: #7a7a7a">Let us answer your query</h1></div></div>
			</div>
		</div>

		<div class="col-lg-8">
				<form action="enquiry_form" class="form-horizontal">
				<div class="form-group">
					<label for="user-name" class="col-lg-2 control-label">
						Name
					</label>
					<div class="col-lg-10"><!--Nested Column-->
						<input type="text" class="form-control" id="user-name" 
						name="user_name" placeholder="Enter Your Name">
					</div>
				</div><!--End form Group-->


				<div class="form-group">
					<label for="user-email" class="col-lg-2 control-label">
						Email
					</label>
					<div class="col-lg-10"><!--Nested Column-->
						<input type="text" name="user_email" class="form-control" id="user-email" placeholder="Enter Your Email Id">
					</div>
				</div><!--End form Group-->

                <div class="form-group">
					<label for="user-phone" class="col-lg-2 control-label">
						Phone
					</label>
					<div class="col-lg-10"><!--Nested Column-->
						<input type="text" name="user_phone" class="form-control" id="user_phone" placeholder="Enter Your Phone no">
					</div>
				</div>

				<div class="form-group">
					<label for="user-message" class="col-lg-2 control-label">
						Message
					</label>
					<div class="col-lg-10"><!--Nested Column-->
						<textarea name="user_message" id="user-message" class="form-control" cols="20" rows="10" placeholder="Enter your message"></textarea>
					</div>
				</div><!--End form Group-->

				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
						<%= show_simple_captcha(:label => "I am not a Robot." , :placeholder => "Enter text") %>
						<button type="submit" class="btn btn-default">Send</button>
					</div>
				</div>

				</form>	
			</div>
	</div>
	</section>
</div>



<!--footer-->
<footer>
			<hr>
		<div class="container text-center">	

			<p>&copy; Copyright @ 2017 Centre for Joint Diseases</p>

		</div><!--End Container-->
	
</footer>
<script src="jquery-2.1.1.min.js"></script>

<script type="text/javascript"
	src="shorten.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
	
		$(".comment").shorten({
			"showChars" : 410,
			"moreText"	: "See More",
			"lessText"	: "Less",
		});	
	});
</script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>  
<!-- <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
<script>
      WebFont.load({
      google: {
      families: ["Lato:100,300,400,700,900","Karla:regular","cookie:regular"]
    }
    });
</script> -->

</body>	
</html>