
<% content_for :for_head do %>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Bure Din</title>
	<meta name="description" content="Bure Din">
	<meta name="keywords" content="Bure Din">
    <meta name="author" content="Bure Din">



	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

   <link rel="stylesheet" href="landing_page/stylesheets/landing_page.css" >



<% end %>

<body data-spy="scroll" data-target="#my-navbar">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=731131227040368";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



<!--Upper Section-->


	<div class="container tagline text-left">
		<div class="row" id="MainText">
		<h1><center>Bure Din</center></h1>
		</div>
		 <!-- <div class="row text-center">
		<p>We are a group of Orthopaedic experts, with a mission to make patients' lives easier</p></div> -->
	</div> 
	<!--End Container-->
<!-- End Upper Section -->

<!--Image Section-->
<div class="container">
	<div class="col-md-12">
	<img src="/landing_page/slider_images/c5.jpg" class="img-responsive">
	</div>
</div>
<!-- End Image Section-->







<!--Testimonials-->
<div class="container" id="testimonials">
		<section>
			<div class="page-header text-center">
		<h2>Our Facebook and Twitter Feed</h2>
			</div> <!--End Page Header-->

		<div class="row">
		<!--Patient1-->
            <div class="col-sm-6">
                <div class="panel panel-default text-center">
                    <h2>Facebook Feed</h2>

                    <div class="panel-body">
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <div class="fb-page" data-href="https://www.facebook.com/buredincom/" data-tabs="timeline" data-width="800" data-height="2000" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/buredincom/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/buredincom/">Bure Din</a></blockquote></div>
                    </div>
                </div>
            </div><!--End Patient1-->

		<!--Patient2-->
            <div class="col-sm-6">
                <div class="panel panel-default text-center " data-width="800" data-height="2000">
                     <h2>Twitter Feed</h2>

                    <div class="panel-body" >
                        <a class="twitter-timeline" href="https://twitter.com/BuredinCom">Tweets by BuredinCom</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>
            </div><!--End Patient2-->
		</div><!-- end row-->


		</section>
	</div><!--End Container-->
<!--End Testimonials-->






<!--footer-->
<footer>
			<hr>
		<div class="container text-center">	

			<p>&copy; Copyright @ 2017 Bure din</p>

		</div><!--End Container-->
	
</footer>
<script src="jquery-2.1.1.min.js"></script>




<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>  


</body>	
</html>	